body {
   background-color: blue;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 700px;
   margin: 0;

}

button {
  background-color: aqua;
  color: white;
  font-family: "Bai Jamjuree", sans-serif;
}

.passo {
    display: none;
}